.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.add-btn {
    margin: 30px;
}

.btn {
    background-color:brown;
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
    width: 80px;
    text-transform:capitalize;
    cursor: pointer; 
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 2% 20% auto;
    margin-left: 30px;
}

.grid-item {
    color:darkslategray;
    font-size: 1.25rem;
    padding: 10px;
    font-weight: 600;
}

.name-heading, .phone-heading {
    text-transform: uppercase;
    font-weight: 700;
    color: darkblue;
}
